<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.connectsdk.androidcore"
    android:versionCode="8"
    android:versionName="1.4.2" >

    <application android:usesCleartextTraffic="true">
        <receiver android:name=".ScreenOnOffReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
